.login_style{
    background-image: url("/web-project/images/hero.png");
    min-height:100vh;min-width:100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}